@import 'colors';
@import 'newsBox';

body
  background: $rp__black
  height: 100vh
  width: 100%

#root
  width: 100%

.newsBox-container
  max-width: 1150px
  margin: auto
  width: 100%
  text-align: center
  display: flex
  flex-wrap: wrap
  justify-content: center
  align-items: center

h1
  color: $rp__white
