.header {
  display: flex;
  justify-content: space-between;
  background-color: #252324;
  padding: 0 2rem;
  height: 60px;
  position: fixed;
  width: calc(100% - 366px);
  flex: 1;
  margin-left: 300px;
  z-index: 1; }

.header__nav {
  display: flex;
  align-items: center;
  padding: 0;
  color: #fff;
  flex: 2;
  margin: 0; }
  .header__nav li {
    list-style: none;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #252324;
    transition: all .2s;
    margin-bottom: 2px; }
    .header__nav li p {
      margin: 0;
      padding: 0 0.5rem; }
    .header__nav li:hover {
      color: #CC5E42;
      border-bottom: 2px solid #CC5E42; }

.header__search {
  display: flex;
  flex: 1;
  position: relative;
  align-items: center;
  margin: 0 1rem; }
  .header__search input {
    width: 100%;
    padding: 0.5rem 1rem 0.5rem 40px; }

.header__search--icon {
  position: absolute;
  height: 20px;
  width: 20px;
  padding: 0 10px; }
  .header__search--icon svg {
    height: 20px;
    width: 20px; }

.header__logo {
  margin-left: 1rem; }
