.newsBox {
  max-width: 295px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #282827;
  margin: 15px;
  cursor: pointer;
  transition: all .5s; }
  .newsBox:hover .newsBox__image {
    transform: scale(1.1); }
  .newsBox:hover .newsBox__actions {
    opacity: 1; }

.newsBox-container {
  max-width: 1150px;
  margin: auto;
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center; }

.newsBox__image-wrapper {
  overflow: hidden;
  height: 200px;
  width: 100%;
  position: relative; }

.newsBox__image {
  transition: all .3s;
  height: 100%;
  flex: 2;
  width: 100%;
  background-size: cover; }

.newsBox__info {
  flex: 1;
  display: flex; }

.newsBox__category {
  width: 112px;
  height: 112px;
  background-color: #ec7c5d;
  color: #fcfcfc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .newsBox__category h3 {
    text-transform: uppercase;
    font-size: 1rem; }
  .newsBox__category svg {
    width: 40px; }

.newsBox__title {
  flex: 2;
  background-color: #191818;
  color: #fcfcfc;
  padding: 0.5rem 1rem;
  text-align: start;
  font-size: 14px; }

.newsBox__actions {
  height: 100%;
  transition: all 0.4s;
  opacity: 0;
  color: #fff;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); }
