.sideBar {
  max-width: 300px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0; }

.sideBar__wrapper {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  padding-bottom: 2rem; }

.sideBar__user {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: #CC5E42;
  width: 100%;
  justify-content: space-around;
  text-transform: uppercase; }
  .sideBar__user h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #fff; }
  .sideBar__user svg {
    cursor: pointer; }

.sideBar__user-avatar {
  width: 60px;
  height: 60px;
  position: relative;
  top: 0.5rem;
  z-index: 1; }
  .sideBar__user-avatar img {
    width: 60px;
    height: 60px; }

.sideBar__menu {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  background-color: #252324;
  padding: 2rem 0 0 0; }
  .sideBar__menu h3 {
    background-color: #191816;
    color: #fff;
    padding: 0.5rem 1rem;
    margin: 0;
    text-transform: uppercase; }
  .sideBar__menu p {
    color: #fff;
    margin: 0;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: all .2s; }
    .sideBar__menu p:hover {
      color: #CC5E42; }
