.profile__user {
  display: flex; }
  .profile__user-avatar img {
    width: 70px;
    height: 70px;
    border-radius: 50%; }
  .profile__user-info {
    color: #fff; }

.profile__category-wrapper {
  display: flex;
  flex-direction: column; }

.profile__category-title {
  color: #fff; }

.profile__category-line {
  display: flex; }
